<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/cars-layout-style.css">
    <title>Cars</title>
</head>
<body>
    <nav>
        <div id="nav-wrap">
            <a id="logo" class="nav-bar-links" href="">4Wheels</a>
            <ul class="nav-bar">
                <li>
                    <a href="" class="nav-bar-links">Cars</a>
                </li>
                <li>
                    <a href="" class="nav-bar-links">Accesories</a>
                </li>
                <li>
                    <a href="" class="nav-bar-links">Wheels</a>
                </li>
                <li>
                    <a href="" class="nav-bar-links">Services</a>
                </li>
                <li>
                    <a href="" class="log_in-button">Log in</a>
                </li>
            </ul>
        </div> 
    </nav>
    <div id="search-box">
        <form action="">
            <input type="text" placeholder="Search car">
        </form>
    </div>
    <aside id="cars-filter">
        
    </aside> 
</body>
</html>