<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/neuronal.css">
    <title>Neuronal Networks Wiki</title>
</head>
<body>
    <section id="info">
        <a id="home-page-btn" href="main.html">Back to main</a>
        <p id="info_text">
            <b>Rețelele neurale</b> (RN, în engleză: ANN de la artificial neural network) sunt o ramură din 
            știința inteligenței artificiale, și constituie totodată, principial, un obiect de cercetare
            și pentru neuroinformatică. Rețelele neurale artificiale caracterizează ansambluri de elemente 
            de procesare simple, puternic interconectate și operând în paralel, care urmăresc să interacționeze
            cu mediul înconjurător într-un mod asemănător creierelor biologice și care prezintă capacitatea de 
            a învăța. Ele sunt compuse din neuroni artificiali, sunt parte a inteligenței artificiale și își au,
            concepțional, originea ca și neuronii artificiali, în biologie. Nu există pentru RNA o definiție 
            general acceptată a acestor tipuri de sisteme, dar majoritatea cercetătorilor sunt de acord cu 
            definirea rețelelor neurale artificiale ca rețele de elemente simple puternic interconectate 
            prin intermediul unor legături numite interconexiuni prin care se propagă informație numerică.
            Originea acestor rețele trebuie căutată în studierea rețelelor bioelectrice din creier formate de 
            neuroni și sinapsele acestora. Principala trăsătură a acestor rețele este capacitatea de a învăța
             pe bază de exemple, folosindu-se de experiența anterioară pentru a-și îmbunătăți performanțele.
        </p>
    </section>
</body>
</html>

