<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/car-cards.css">
    <link rel="stylesheet" href="../Css/search-sort-bar.css">
    <link rel="stylesheet" href="../Css/cars-page.css">
    <title>Cars</title>
</head>
<body>
    <nav>
        <div id="nav-wrap">
            <a id="logo" class="nav-bar-links" href="../index.html">4Wheels</a>
            <ul class="nav-bar">
                <li>
                    <a href="" class="nav-bar-links">Cars</a>
                </li>
                <li>
                    <a href="accesories-page.html" class="nav-bar-links">Accesories</a>
                </li>
                <li>
                    <a href="wheels-page.html" class="nav-bar-links">Wheels</a>
                </li>
                <li>
                    <a href="services-page.html" class="nav-bar-links">Services</a>
                </li>
                <li>
                    <a href="auth-page.html" class="log_in-button">Log in</a>
                </li>
            </ul>
        </div> 
    </nav>
    <div id="search-box">
        <form action="">
            <input type="text" placeholder="Search car">
        </form>
        <div id="sort-menu">
            <p>(9)</p>
            <p>Sort by :</p>
            <ul>
                <li>price ascendent</li>
                <li>price descendent</li>
                <li>date ascendent</li>
                <li>date descendent</li>
                <li>name descendent</li>
                <li>name ascendent</li>
            </ul>
        </div>
    </div>
    <section id="cars-cards">
        <aside id="cars-filter">
        
        </aside> 
        <div class="cards-grid">
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div>
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div>
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div>
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div>
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div>     
        </div>
    </section>
    <footer>
        <h2>4Wheels</h2>
        <ul>
            <li id="phone-num"><a href="">373 695 67 855</a></li>
            <li id="insta-link"><a href="">insta.com/4Wheels</a></li>
            <li id="facebook-link"><a href="">facebook.com/4Wheels</a></li>
            <li id="telegram-link"><a href="">telegram.com/4Wheels</a></li>
            <li id="office-adress"><a href="">Str. 27 august 32/1</a></li>
        </ul>
        <img src="/Img/address-map.png" alt="map">
    </footer>

    <script src="../Scripts/script.js"></script>
</body>
</html>