<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/components/cards/car-cards.css">
    <link rel="stylesheet" href="../Css/components/search-sort-bar.css">
    <link rel="stylesheet" href="../Css/pages/cars-page.css">
    <title>Cars</title>
</head>
<body>
    <nav>
        <div id="nav-wrap">
            <a id="logo" class="nav-bar-links" href="../index.html">4Wheels</a>
            <ul class="nav-bar">
                <li>
                    <a href="" class="nav-bar-links">Cars</a>
                </li>
                <li>
                    <a href="accesories-page.html" class="nav-bar-links">Accesories</a>
                </li>
                <li>
                    <a href="wheels-page.html" class="nav-bar-links">Wheels</a>
                </li>
                <li>
                    <a href="services-page.html" class="nav-bar-links">Services</a>
                </li>
                <li>
                    <a href="auth-page.html" class="log_in-button">Log in</a>
                </li>
            </ul>
        </div> 
    </nav>
    <div id="search-box">
        <form action="">
            <input id="search-bar" type="text" placeholder="Search car">
        </form>
        <div id="sort-menu">
            <p>(9)</p>
            <p>Sort by :</p>
            <ul id="sort-options">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <section id="cars-cards">
        <aside id="cars-filter">
        
        </aside> 
        <div class="cards-grid">
            <div class="car-card">
                <a href=""><img src="../Img/cars/car1.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes GLC 250</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">56.000€</p>
            </div>
            <div class="car-card">
                <a href=""><img src="../Img/cars/jaguar-xf-001.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Jaguar XF</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">37.000€</p>
            </div>
            <div class="car-card">
                <a href=""><img src="../Img/cars/bmw-7-001.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Bmw 7</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">48.000€</p>
            </div>
            <div class="car-card">
                <a href=""><img src="../Img/cars/mercedes-amg-001.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes amg</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">73.500€</p>
            </div>
            <div class="car-card">
                <a href=""><img src="../Img/cars/tesla-3-001.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Tesla model 3</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">21.250€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/cars/mercedes-e-001.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Mercedes E220</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">16.000€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/cars/wv-passat-001.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Wolksvagen passat</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">5.500€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/cars/suzuki-001.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Suzuki swift</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">13.000€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/cars/opel-astraj-001.jpg" alt="" class="card-img"></a>
                <h3 class="card-title">Opel astra</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">7.000€</p>
            </div> 
            <div class="car-card">
                <a href=""><img src="../Img/cars/wv-golf-001.png" alt="" class="card-img"></a>
                <h3 class="card-title">Wolksvagen golf</h3>
                <div class="card-details">
                    <p>Year :</p>
                    <p>Power :</p>
                    <p>Fuel :</p>
                    <p>Transmission: </p>
                </div>
                <p class="card-price">6.750€</p>
            </div>     
        </div>
    </section>
    <footer>
        <h2>4Wheels</h2>
        <ul>
            <li id="phone-num"><a href="">373 695 67 855</a></li>
            <li id="insta-link"><a href="">insta.com/4Wheels</a></li>
            <li id="facebook-link"><a href="">facebook.com/4Wheels</a></li>
            <li id="telegram-link"><a href="">telegram.com/4Wheels</a></li>
            <li id="office-adress"><a href="">Str. 27 august 32/1</a></li>
        </ul>
        <img src="../Img/footer/address-map.png" alt="map">
    </footer>

    <script src="../Scripts/script.js"></script>
    <script src="../Scripts/sort-menu.js"></script>
    <script src="../Scripts/search-bar.js"></script>
</body>
</html>