<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/services-layout-style.css">
    <title>Wheels</title>
</head>
<body>
    <nav>
        <div id="nav-wrap">
            <a id="logo" class="nav-bar-links" href="../index.html">4Wheels</a>
            <ul class="nav-bar">
                <li>
                    <a href="cars-layout.html" class="nav-bar-links">Cars</a>
                </li>
                <li>
                    <a href="accesories-layout.html" class="nav-bar-links">Accesories</a>
                </li>
                <li>
                    <a href="wheels-layout.html" class="nav-bar-links">Wheels</a>
                </li>
                <li>
                    <a href="" class="nav-bar-links">Services</a>
                </li>
                <li>
                    <a href="auth-page.html" class="log_in-button">Log in</a>
                </li>
            </ul>
        </div> 
    </nav>
    
    <section id="services">
        <ul>
            <li>
                <h3>Spalatorie auto</h3>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit
                        pariatur amet dolores eaque laudantium. Sunt recusandae rem aspernatur 
                        delectus voluptatem. Iusto saepe quam ullam fugit quia tempore dolorem sunt 
                    </p>
                    <img src="../Img/service.jpg" alt="">
                </div>
            </li>
            <li>
                <h3>Garage34</h3>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit
                        pariatur amet dolores eaque laudantium. Sunt recusandae rem aspernatur 
                        delectus voluptatem. Iusto saepe quam ullam fugit quia tempore dolorem sunt 
                    </p>
                    <img src="../Img/service.jpg" alt="">
                </div>
            </li>
            <li>
                <h3>Service centru</h3>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit
                        pariatur amet dolores eaque laudantium. Sunt recusandae rem aspernatur 
                        delectus voluptatem. Iusto saepe quam ullam fugit quia tempore dolorem sunt 
                    </p>
                    <img src="../Img/service.jpg" alt="">
                </div>
            </li>
            <li>
                <h3>Vopsire</h3>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit
                        pariatur amet dolores eaque laudantium. Sunt recusandae rem aspernatur 
                        delectus voluptatem. Iusto saepe quam ullam fugit quia tempore dolorem sunt 
                    </p>
                    <img src="../Img/service.jpg" alt="">
                </div>
            </li>
            <li>
                <h3>Asigurari</h3>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit
                        pariatur amet dolores eaque laudantium. Sunt recusandae rem aspernatur 
                        delectus voluptatem. Iusto saepe quam ullam fugit quia tempore dolorem sunt 
                    </p>
                    <img src="../Img/service.jpg" alt="">
                </div>
            </li>
        </ul>
    </section>

    <footer>
        <h2>4Wheels</h2>
        <ul>
            <li id="phone-num"><a href="">373 695 67 855</a></li>
            <li id="insta-link"><a href="">insta.com/4Wheels</a></li>
            <li id="facebook-link"><a href="">facebook.com/4Wheels</a></li>
            <li id="telegram-link"><a href="">telegram.com/4Wheels</a></li>
            <li id="office-adress"><a href="">Str. 27 august 32/1</a></li>
        </ul>
        <img src="/Img/address-map.png" alt="map">
    </footer>

    <script src="../Scripts/script.js"></script>
</body>
</html>